body {
  font-size: 100%;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}

h1 {
  padding: 1em 0;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
}

h2 {
  @media #{$mq-s} { font-size: 1.4em; }
  @media #{$mq-m} { font-size: 1.6em; }
  @media #{$mq-l} { font-size: 1.8em; }
  line-height: 1.3em;
}

h3 {
  @media #{$mq-s} { font-size: 1.0em; }
  @media #{$mq-m} { font-size: 1.05em; }
  @media #{$mq-l} { font-size: 1.1em; }
  line-height: 1.3em;
}

p, code {
  @media #{$mq-s} { font-size: 0.9em; }
  @media #{$mq-m} { font-size: 1.0em; }
  @media #{$mq-l} { font-size: 1.05em; }
  line-height: 1.7em;
}

p {
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

code {
  padding: 0.2em 0.4em
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}