@import 'bourbon/bourbon';
@import 'reset.scss';
@import '../../dist/T-1000.scss';

/*
 * GRID
 */
$space-s: 5px;
$space-m: 8px;
$space-l: 12px;

$mq-s: "only screen and (max-width:599px)";
$mq-m: "only screen and (min-width:600px)";
$mq-l: "only screen and (min-width:1000px)";

$scalable-props-single: (padding, margin, padding-top);
$scalable-props-double: (padding, padding-left, padding-right, padding-top, padding-bottom, margin-top, margin-bottom);
@include reset-properties((padding, margin-bottom));

@media #{$mq-s} {
  @include grid(s, 2, $space-s, prefix);
  @include properties($space-s, $scalable-props-single);
  @include properties($space-s, $scalable-props-double, double);
}

@media #{$mq-m} {
  @include grid(m, 6, $space-m, prefix);
  @include properties($space-m, $scalable-props-single);
  @include properties($space-m, $scalable-props-double, double);
  .row { width: 98%; }
}

@media #{$mq-l} {
  @include grid(l, 12, $space-l, prefix);
  @include properties($space-l, $scalable-props-single);
  @include properties($space-l, $scalable-props-double, double);
  .row { width: 90%; }
}

.row {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1024px;
}

/*
 * Type
 */

body {
  font-size: 100%;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

h1 {
  padding: 1em 0;
  font-size: 4em;
  font-weight: normal;
  text-align: center;
}

p {
  line-height: 1.5em;
}

code {
  font-size: 1em;
  padding: 0.2em 0.4em
}

strong {
  font-weight: 700;
}

/*
 * Colors
 */

$bg-medium: #f0f0f0;
$bg-light: #fdfdfd;
$text: #333;
$green: #2ee3a5;

body {
  background-color: $bg-medium;
  color: $text;

  code {
    background-color: #e4e4e4;
  }
}

.bg-light {
  background-color: $bg-light;
}

.row {
  border-bottom: 1px solid #e4e4e4;
}

/*
 * Code
 */
.gist-embed {
  margin: 1em 0;

  .gist {
    .gist-file {
      margin-bottom: 0;
    }

    .file-data {
      max-height: 17em;
      overflow: auto;
    }
  }
}

/*
 * Download
 */
.download {
  text-align: center;

  .file {
    font-size: 1.7em;
    height: 2em;
    overflow: hidden;
    padding-top: 5px;
    margin-top: -5px;

    a {
      display: block;
      width: 100%;
      height: 100%;
      vertical-align: middle;
      background-color: lighten($green, 5%);
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      @include transition(all 0.2s $ease-out-expo);

      span {
        vertical-align: sub;
      }

      &,
      &:active {
        border-bottom: 0px solid darken($green, 20%);
        margin-top: 0;
      }

      &:hover {
        margin-top: -5px;
        border-bottom-width: 5px;
      }
    }
  }

  .repo {
    font-size: 0.5em;
    @include transition(color 0.1s);
    color: lighten($text, 30%);

    a {
      color: inherit;

      &:hover {
        color: black;
      }
    }
  }

  &:hover {
    .file a {
      background-color: $green;
    }
    .repo {
      color: $text;
    }
  }
}