.row {
  padding: 5px;
}

.col {
  padding: 5px;
}

.s-0 {
  width: 0%;
}

.s-1 {
  width: 50%;
}

.s-2 {
  width: 100%;
}

.s-suffix-0 {
  margin-right: 0%;
}

.s-suffix-1 {
  margin-right: 50%;
}

.s-suffix-2 {
  margin-right: 100%;
}
